body {
    background-image: url(/images/destinations/Desktop\ -\ Destination\ -\ A.jpg);
    overflow-x: hidden;
}

.destination-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
}

.navigation-bar-container {
    display: flex;
    justify-content: flex-start;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-family: 'BarlowCondensedRegular';
}

.navigation-bar ul {
    list-style-type: none;
    color: #D0D6F9;
    font-size: 16px;
    letter-spacing: 2px;
}

.navigation-bar ul li {
    padding-bottom: 8px;
}

.navigation-bar ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #D0D6F9;
}

.underline-text {
    border-bottom: 2px solid #FFF;
    color: #FFF;
}

#destination-title {
    font-family: 'BellefairRegular';
    font-size: 96px;
    color: #FFF;
    font-weight: 200;
}

.explanation-text {
    width: 25vw;
}

hr {
    color: hsla(0, 0%, 25%, 0.25)
}

.destination-statistcs {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.statistcs-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.statistcs-title {
    font-size: 14px;
    font-family: 'BarlowCondensed';
    letter-spacing: 2px;
    font-weight: 200;
    color: #D0D6F9;
}

.statistcs-number {
    font-size: 28px;
    font-family: 'BellefairRegular';
    color: #FFF;
}

