@font-face {
    font-family: 'BarlowCondensed';
    src: url(../fonts/BarlowCondensed/BarlowCondensed-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'BarlowCondensedRegular';
    src: url(../fonts/BarlowCondensed/BarlowCondensed-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'BellefairRegular';
    src: url(../fonts/Bellefair/Bellefair-Regular.ttf) format('truetype');
}
