body {
    background-image: url(/images/destinations/Desktop\ -\ Destination\ -\ A.jpg);
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/images/Desktop\ -\ Home\ \(1\).png);
}

main {
    padding: 20px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 90px;
}

.home-main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    gap: 400px;
}

.main-info {
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 24px;
}

.main-info-title {
    font-size: 28px;
    font-family: 'BarlowCondensed', sans-serif;
    color: #D0D6F9;
    letter-spacing: 4px;
    font-weight: 300;
}

.main-info span {
    font-size: 150px;
    font-family: 'BellefairRegular', sans-serif;
    color: #FFF;
}

.main-info p {
    font-size: 18px;
    font-family: 'BarlowCondensedRegular', sans-serif;
    color: #D0D6F9;
} 

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    width: 370px;
    height: 370px;
    border-radius: 50%;
}

.explore-button {
    border: none;
    background-color: none;
    width: 272px;
    height: 272px;
    border-radius: 50%;
    font-size: 32px;
    font-family: 'BellefairRegular';
    cursor: pointer;
    border: 30px solid transparent;
}

.explore-button:hover {
    box-shadow: 0 0 0 49px hsla(230, 24%, 7%, 0.5);
    color: hsla(230, 24%, 7%, 0.5);
}