body {
    background: url(../images/home/Desktop-home.png) no-repeat
    center center;
    background-size: cover;
}

main {
    padding: 1em;
}

.home-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 7em;
}

.home-main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    gap: 23em;
}

.main-info {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.main-info-title {
    font-size: 1.6em;
    font-family: 'BarlowCondensed', sans-serif;
    color: #D0D6F9;
    letter-spacing: 0.1em;
    font-weight: 300;
}

.main-info span {
    font-size: 8em;
    font-family: 'BellefairRegular', sans-serif;
    color: #FFF;
}

.main-info p {
    font-size: 1em;
    font-family: 'BarlowCondensedRegular', sans-serif;
    color: #D0D6F9;
} 

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    border-radius: 50%;
}

.button-container a {
    text-decoration: none;
    color: #0B0D17;
}

.explore-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #FFF;
    width: 9em;
    height: 9em;
    border-radius: 50%;
    font-size: 2em;
    font-family: 'BellefairRegular';
    cursor: pointer;
}

.explore-button:hover {
    box-shadow: 0 0 0 2.5em hsla(230, 24%, 7%, 0.5);
    color: hsla(230, 24%, 7%, 0.5);
} 
